doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    script(src="/bower_components/jquery/dist/jquery.js")
    block footer-script

