extends ../layout

block stylesheets
  style(type="text/css").
    table {
      border-collapse:collapse;  
    }
    table,tr,td {
      border:1px solid black;
    }
    td {
      padding:10px 5px 15px 20px;
    }

block footer-scripts


block content
  h1 user list
  table
    each val, index in results
      tr(style="border:1px solid red;")
        td #{val.id}
        td #{val.name}
        td #{val.comment}
        td
          form(action='/user/update_input_form/' + val.id, method='get')
            button(type='submit') update
        td
          form(action='/user/del/' + val.id, method='post')
            input(type='hidden', name='_method', value='DELETE')
            button(type='submit') delete

  div 
    form(action='/user/add_input_form', method='get')
      button(type='submit') add user

  script.
    var ab = !{JSON.stringify(results)}
